body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1079px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u29479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u29479 {
  position:absolute;
  left:835px;
  top:168px;
  width:245px;
  height:136px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u29480 {
  position:absolute;
  left:10px;
  top:10px;
  width:225px;
  word-wrap:break-word;
}
#u29482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:971px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29482 {
  position:absolute;
  left:0px;
  top:53px;
  width:768px;
  height:971px;
}
#u29483 {
  position:absolute;
  left:2px;
  top:478px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29484 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:55px;
  background:inherit;
  background-color:rgba(89, 209, 163, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u29485 {
  position:absolute;
  left:-1px;
  top:-1px;
  width:768px;
  height:55px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u29486 {
  position:absolute;
  left:2px;
  top:20px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u29487 {
  position:absolute;
  left:271px;
  top:18px;
  width:236px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u29488 {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  white-space:nowrap;
}
#u29489 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:19px;
}
#u29490 {
  position:absolute;
  left:24px;
  top:18px;
  width:12px;
  height:19px;
  color:#FFFFFF;
}
#u29491 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29492 {
  position:absolute;
  left:0px;
  top:54px;
  width:768px;
  height:56px;
}
#u29493 {
  position:absolute;
  left:2px;
  top:20px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u29494 {
  position:absolute;
  left:17px;
  top:57px;
  width:89px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u29495 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u29496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u29496 {
  position:absolute;
  left:47px;
  top:85px;
  width:612px;
  height:20px;
  color:#666666;
}
#u29497 {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  white-space:nowrap;
}
#u29498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29498 {
  position:absolute;
  left:0px;
  top:110px;
  width:768px;
  height:56px;
}
#u29499 {
  position:absolute;
  left:2px;
  top:20px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u29500 {
  position:absolute;
  left:17px;
  top:113px;
  width:89px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u29501 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u29502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u29502 {
  position:absolute;
  left:47px;
  top:141px;
  width:444px;
  height:20px;
  color:#666666;
}
#u29503 {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  white-space:nowrap;
}
#u29504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u29504 {
  position:absolute;
  left:720px;
  top:126px;
  width:26px;
  height:26px;
}
#u29505 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:55px;
}
#u29506 {
  position:absolute;
  left:0px;
  top:969px;
  width:768px;
  height:55px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FF9900;
}
#u29507 {
  position:absolute;
  left:2px;
  top:15px;
  width:764px;
  word-wrap:break-word;
}
#u29508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29508 {
  position:absolute;
  left:0px;
  top:166px;
  width:768px;
  height:56px;
}
#u29509 {
  position:absolute;
  left:2px;
  top:20px;
  width:764px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u29510 {
  position:absolute;
  left:17px;
  top:169px;
  width:89px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:28px;
}
#u29511 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  word-wrap:break-word;
}
#u29512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:612px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u29512 {
  position:absolute;
  left:47px;
  top:197px;
  width:612px;
  height:20px;
  color:#666666;
}
#u29513 {
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  white-space:nowrap;
}
#u29514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u29514 {
  position:absolute;
  left:720px;
  top:69px;
  width:26px;
  height:26px;
}
#u29515 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u29516 {
  position:absolute;
  left:548px;
  top:129px;
  width:152px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FF0000;
  text-align:center;
}
#u29517 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
