body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u39952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39952 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:52px;
}
#u39953 {
  position:absolute;
  left:2px;
  top:18px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:18px;
}
#u39954 {
  position:absolute;
  left:118px;
  top:12px;
  width:114px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:18px;
}
#u39955 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u39956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u39957 {
  position:absolute;
  left:1287px;
  top:13px;
  width:51px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u39958 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u39959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u39959 {
  position:absolute;
  left:1348px;
  top:21px;
  width:13px;
  height:7px;
}
#u39960 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39961 {
  position:absolute;
  left:286px;
  top:1px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39962 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u39963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39963 {
  position:absolute;
  left:401px;
  top:1px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39964 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u39965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39965 {
  position:absolute;
  left:518px;
  top:1px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39966 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u39967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39967 {
  position:absolute;
  left:636px;
  top:1px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39968 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u39969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39969 {
  position:absolute;
  left:760px;
  top:1px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39970 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u39971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39971 {
  position:absolute;
  left:891px;
  top:1px;
  width:103px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
  line-height:48px;
}
#u39972 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u39973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u39973 {
  position:absolute;
  left:18px;
  top:8px;
  width:80px;
  height:35px;
}
#u39974 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1017px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39975 {
  position:absolute;
  left:100px;
  top:100px;
  width:1200px;
  height:1017px;
}
#u39976 {
  position:absolute;
  left:2px;
  top:500px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1199px;
  height:887px;
}
#u39977 {
  position:absolute;
  left:101px;
  top:88px;
  width:1199px;
  height:887px;
}
#u39978 {
  position:absolute;
  left:2px;
  top:436px;
  width:1195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u39979 {
  position:absolute;
  left:101px;
  top:67px;
  width:458px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u39980 {
  position:absolute;
  left:0px;
  top:0px;
  width:463px;
  white-space:nowrap;
}
#u39981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:177px;
}
#u39981 {
  position:absolute;
  left:700px;
  top:796px;
  width:601px;
  height:177px;
}
#u39982 {
  position:absolute;
  left:2px;
  top:80px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:92px;
}
#u39983 {
  position:absolute;
  left:703px;
  top:830px;
  width:468px;
  height:92px;
}
#u39984 {
  position:absolute;
  left:2px;
  top:38px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:28px;
}
#u39985 {
  position:absolute;
  left:700px;
  top:751px;
  width:601px;
  height:28px;
}
#u39986 {
  position:absolute;
  left:2px;
  top:6px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39987 {
  position:absolute;
  left:700px;
  top:751px;
  width:42px;
  height:28px;
}
#u39988 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u39989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u39989 {
  position:absolute;
  left:741px;
  top:751px;
  width:42px;
  height:28px;
  color:#FFFFFF;
}
#u39990 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u39991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39991 {
  position:absolute;
  left:781px;
  top:751px;
  width:42px;
  height:28px;
}
#u39992 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u39993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(232, 232, 232, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39993 {
  position:absolute;
  left:821px;
  top:751px;
  width:42px;
  height:28px;
}
#u39994 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u39995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:71px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39995 {
  position:absolute;
  left:1297px;
  top:830px;
  width:4px;
  height:71px;
}
#u39996 {
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:22px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u39997 {
  position:absolute;
  left:700px;
  top:729px;
  width:601px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u39998 {
  position:absolute;
  left:2px;
  top:2px;
  width:597px;
  word-wrap:break-word;
}
#u39999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:41px;
}
#u39999 {
  position:absolute;
  left:700px;
  top:778px;
  width:601px;
  height:41px;
}
#u40000 {
  position:absolute;
  left:2px;
  top:12px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u40001 {
  position:absolute;
  left:822px;
  top:787px;
  width:24px;
  height:23px;
}
#u40002 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
}
#u40003 {
  position:absolute;
  left:783px;
  top:789px;
  width:38px;
  height:20px;
}
#u40004 {
  position:absolute;
  left:2px;
  top:2px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40005 {
  position:absolute;
  left:856px;
  top:789px;
  width:79px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40006 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u40007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40007 {
  position:absolute;
  left:714px;
  top:789px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40008 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u40009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u40009 {
  position:absolute;
  left:1242px;
  top:785px;
  width:48px;
  height:26px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u40010 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u40011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
}
#u40011 {
  position:absolute;
  left:1188px;
  top:785px;
  width:48px;
  height:26px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
}
#u40012 {
  position:absolute;
  left:2px;
  top:4px;
  width:44px;
  word-wrap:break-word;
}
#u40013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u40013 {
  position:absolute;
  left:758px;
  top:788px;
  width:23px;
  height:23px;
}
#u40014 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u40015 {
  position:absolute;
  left:1086px;
  top:785px;
  width:92px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
  line-height:28px;
}
#u40016 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u40017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:792px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40017 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:792px;
}
#u40018 {
  position:absolute;
  left:2px;
  top:388px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40019 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:576px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40020 {
  position:absolute;
  left:346px;
  top:129px;
  width:609px;
  height:576px;
}
#u40021 {
  position:absolute;
  left:2px;
  top:280px;
  width:605px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u40022 {
  position:absolute;
  left:346px;
  top:68px;
  width:609px;
  height:61px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u40023 {
  position:absolute;
  left:2px;
  top:20px;
  width:605px;
  word-wrap:break-word;
}
#u40024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40024 {
  position:absolute;
  left:346px;
  top:645px;
  width:609px;
  height:61px;
}
#u40025 {
  position:absolute;
  left:2px;
  top:22px;
  width:605px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u40026 {
  position:absolute;
  left:504px;
  top:657px;
  width:106px;
  height:38px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u40027 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u40028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u40028 {
  position:absolute;
  left:675px;
  top:657px;
  width:106px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u40029 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u40030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:609px;
  height:82px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40030 {
  position:absolute;
  left:346px;
  top:128px;
  width:609px;
  height:82px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40031 {
  position:absolute;
  left:2px;
  top:32px;
  width:605px;
  word-wrap:break-word;
}
#u40032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:582px;
  height:71px;
}
#u40032 {
  position:absolute;
  left:359px;
  top:134px;
  width:582px;
  height:71px;
}
#u40033 {
  position:absolute;
  left:2px;
  top:28px;
  width:578px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u40034 {
  position:absolute;
  left:370px;
  top:228px;
  width:102px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#CCCCCC;
}
#u40035 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u40036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:29px;
}
#u40036 {
  position:absolute;
  left:786px;
  top:178px;
  width:168px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u40037 {
  position:absolute;
  left:2px;
  top:6px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
