body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u71769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:1108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71769 {
  position:absolute;
  left:340px;
  top:101px;
  width:820px;
  height:1108px;
}
#u71770 {
  position:absolute;
  left:2px;
  top:546px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71771 {
  position:fixed;
  left:0px;
  top:71px;
}
#u71771_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u71771_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:811px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71772 {
  position:absolute;
  left:0px;
  top:30px;
  width:340px;
  height:811px;
}
#u71773 {
  position:absolute;
  left:2px;
  top:398px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71774 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u71775 {
  position:absolute;
  left:17px;
  top:119px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u71776 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u71777 {
  position:absolute;
  left:17px;
  top:327px;
  width:15px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u71778 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u71779 {
  position:absolute;
  left:17px;
  top:598px;
  width:15px;
  height:15px;
}
#u71780 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u71781 {
  position:absolute;
  left:17px;
  top:636px;
  width:15px;
  height:15px;
}
#u71782 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u71783 {
  position:absolute;
  left:17px;
  top:674px;
  width:15px;
  height:15px;
}
#u71784 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u71785 {
  position:absolute;
  left:17px;
  top:712px;
  width:15px;
  height:15px;
}
#u71786 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u71787 {
  position:absolute;
  left:17px;
  top:750px;
  width:15px;
  height:15px;
}
#u71788 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71789 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u71790 {
  position:absolute;
  left:59px;
  top:353px;
  width:220px;
  height:224px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u71791 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u71792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71792 {
  position:absolute;
  left:42px;
  top:320px;
  width:237px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71793 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u71794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71794 {
  position:absolute;
  left:42px;
  top:591px;
  width:237px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71795 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u71796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71796 {
  position:absolute;
  left:42px;
  top:629px;
  width:237px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71797 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u71798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71798 {
  position:absolute;
  left:42px;
  top:667px;
  width:237px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71799 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u71800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71800 {
  position:absolute;
  left:42px;
  top:705px;
  width:237px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71801 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u71802 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  line-height:28px;
}
#u71803 {
  position:absolute;
  left:42px;
  top:112px;
  width:237px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  line-height:28px;
}
#u71804 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u71805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u71805 {
  position:absolute;
  left:59px;
  top:145px;
  width:220px;
  height:160px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:32px;
}
#u71806 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
#u71807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71807 {
  position:absolute;
  left:42px;
  top:743px;
  width:237px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u71808 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u71809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u71809 {
  position:absolute;
  left:10px;
  top:43px;
  width:262px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  line-height:28px;
}
#u71810 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u71811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#016493;
}
#u71811 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  color:#016493;
}
#u71812 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u71813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u71813 {
  position:absolute;
  left:99px;
  top:0px;
  width:71px;
  height:20px;
  color:#999999;
}
#u71814 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u71815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71815 {
  position:absolute;
  left:17px;
  top:81px;
  width:29px;
  height:20px;
  color:#CCCCCC;
}
#u71816 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u71817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u71817 {
  position:absolute;
  left:298px;
  top:119px;
  width:15px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u71818 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71819 {
  position:absolute;
  left:302px;
  top:152px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71820 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71821 {
  position:absolute;
  left:302px;
  top:185px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71822 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71823 {
  position:absolute;
  left:302px;
  top:213px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71824 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71825 {
  position:absolute;
  left:302px;
  top:246px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71826 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71827 {
  position:absolute;
  left:302px;
  top:278px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71828 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u71829 {
  position:absolute;
  left:298px;
  top:325px;
  width:15px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u71830 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71831 {
  position:absolute;
  left:302px;
  top:358px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71832 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71833 {
  position:absolute;
  left:302px;
  top:391px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71834 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71835 {
  position:absolute;
  left:302px;
  top:419px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71836 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71837 {
  position:absolute;
  left:302px;
  top:452px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71838 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71839 {
  position:absolute;
  left:302px;
  top:484px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71840 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71841 {
  position:absolute;
  left:302px;
  top:521px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71842 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71843 {
  position:absolute;
  left:302px;
  top:552px;
  width:8px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u71844 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u71845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u71845 {
  position:absolute;
  left:298px;
  top:598px;
  width:15px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u71846 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u71847 {
  position:absolute;
  left:298px;
  top:636px;
  width:15px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u71848 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u71849 {
  position:absolute;
  left:298px;
  top:675px;
  width:15px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u71850 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u71851 {
  position:absolute;
  left:298px;
  top:712px;
  width:15px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u71852 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u71853 {
  position:absolute;
  left:298px;
  top:750px;
  width:15px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u71854 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u71855 {
  position:absolute;
  left:298px;
  top:50px;
  width:15px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u71856 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u71858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71858 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:51px;
}
#u71859 {
  position:absolute;
  left:2px;
  top:18px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u71861 {
  position:absolute;
  left:1279px;
  top:13px;
  width:52px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u71862 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u71863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u71863 {
  position:absolute;
  left:1337px;
  top:21px;
  width:13px;
  height:7px;
}
#u71864 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71865 {
  position:fixed;
  left:1160px;
  top:71px;
  width:120px;
  height:841px;
  overflow:hidden;
}
#u71865_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:841px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u71865_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:811px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71866 {
  position:absolute;
  left:0px;
  top:30px;
  width:147px;
  height:811px;
}
#u71867 {
  position:absolute;
  left:2px;
  top:398px;
  width:143px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(1, 100, 147, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(1, 100, 147, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u71868 {
  position:absolute;
  left:10px;
  top:106px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u71869 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u71870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71870 {
  position:absolute;
  left:10px;
  top:286px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71871 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u71872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71872 {
  position:absolute;
  left:10px;
  top:336px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71873 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u71874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71874 {
  position:absolute;
  left:10px;
  top:386px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71875 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u71876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71876 {
  position:absolute;
  left:10px;
  top:436px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71877 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u71878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71878 {
  position:absolute;
  left:10px;
  top:156px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71879 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u71880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71880 {
  position:absolute;
  left:10px;
  top:81px;
  width:29px;
  height:20px;
  color:#CCCCCC;
}
#u71881 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u71882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u71882 {
  position:absolute;
  left:10px;
  top:256px;
  width:57px;
  height:20px;
  color:#CCCCCC;
}
#u71883 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71884 {
  position:absolute;
  left:10px;
  top:486px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u71885 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u71886 {
  position:absolute;
  left:13px;
  top:0px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71887 {
  position:absolute;
  left:10px;
  top:206px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71888 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u71889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71890 {
  position:absolute;
  left:350px;
  top:157px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71891 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u71892 {
  position:absolute;
  left:389px;
  top:152px;
  width:100px;
  height:30px;
}
#u71892_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71892_input:disabled {
  color:grayText;
}
#u71893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:264px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71893 {
  position:absolute;
  left:340px;
  top:317px;
  width:820px;
  height:264px;
}
#u71894 {
  position:absolute;
  left:2px;
  top:124px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-bottom:0px;
  border-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71895 {
  position:absolute;
  left:340px;
  top:287px;
  width:820px;
  height:30px;
}
#u71896 {
  position:absolute;
  left:2px;
  top:7px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71898 {
  position:absolute;
  left:533px;
  top:157px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71899 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u71900 {
  position:absolute;
  left:572px;
  top:152px;
  width:100px;
  height:30px;
}
#u71900_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71900_input:disabled {
  color:grayText;
}
#u71901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u71902 {
  position:absolute;
  left:380px;
  top:292px;
  width:43px;
  height:20px;
  color:#666666;
}
#u71903 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u71904 {
  position:absolute;
  left:429px;
  top:295px;
  width:14px;
  height:14px;
}
#u71905 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u71906 {
  position:absolute;
  left:588px;
  top:292px;
  width:49px;
  height:20px;
  color:#666666;
}
#u71907 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u71908 {
  position:absolute;
  left:350px;
  top:259px;
  width:100px;
  height:18px;
}
#u71909 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u71908_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71910 {
  position:absolute;
  left:350px;
  top:296px;
  width:20px;
  height:16px;
}
#u71911 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71910_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u71912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71912 {
  position:absolute;
  left:340px;
  top:207px;
  width:820px;
  height:30px;
}
#u71913 {
  position:absolute;
  left:2px;
  top:7px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u71914 {
  position:absolute;
  left:1044px;
  top:292px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u71915 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:254px;
}
#u71916 {
  position:absolute;
  left:340px;
  top:326px;
  width:737px;
  height:254px;
}
#u71917 {
  position:absolute;
  left:2px;
  top:119px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u71918 {
  position:absolute;
  left:1059px;
  top:212px;
  width:91px;
  height:20px;
  color:#999999;
  text-align:right;
}
#u71919 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u71920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71922 {
  position:absolute;
  left:963px;
  top:152px;
  width:187px;
  height:30px;
}
#u71922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u71923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u71923 {
  position:absolute;
  left:1126px;
  top:159px;
  width:16px;
  height:16px;
}
#u71924 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71925 {
  position:absolute;
  left:906px;
  top:152px;
  width:57px;
  height:30px;
}
#u71925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u71925_input:disabled {
  color:grayText;
}
#u71926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  line-height:28px;
}
#u71926 {
  position:absolute;
  left:350px;
  top:114px;
  width:262px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  line-height:28px;
}
#u71927 {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  word-wrap:break-word;
}
#u71928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u71928 {
  position:absolute;
  left:489px;
  top:292px;
  width:29px;
  height:20px;
  color:#666666;
}
#u71929 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u71930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u71931 {
  position:absolute;
  left:1097px;
  top:292px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u71932 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u71933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u71933 {
  position:absolute;
  left:1134px;
  top:294px;
  width:16px;
  height:16px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u71934 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71935 {
  position:absolute;
  left:340px;
  top:580px;
  width:820px;
  height:50px;
}
#u71936 {
  position:absolute;
  left:2px;
  top:17px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u71937 {
  position:absolute;
  left:350px;
  top:597px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u71938 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u71939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u71939 {
  position:absolute;
  left:409px;
  top:590px;
  width:84px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u71940 {
  position:absolute;
  left:20px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u71941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u71941 {
  position:absolute;
  left:470px;
  top:599px;
  width:12px;
  height:12px;
}
#u71942 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71943 {
  position:absolute;
  left:340px;
  top:629px;
  width:820px;
  height:50px;
}
#u71944 {
  position:absolute;
  left:2px;
  top:17px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u71945 {
  position:absolute;
  left:350px;
  top:646px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u71946 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u71947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u71947 {
  position:absolute;
  left:409px;
  top:639px;
  width:157px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:left;
}
#u71948 {
  position:absolute;
  left:20px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u71949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u71949 {
  position:absolute;
  left:545px;
  top:648px;
  width:12px;
  height:12px;
}
#u71950 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u71951 {
  position:absolute;
  left:340px;
  top:678px;
  width:820px;
  height:40px;
}
#u71952 {
  position:absolute;
  left:2px;
  top:12px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71953 {
  position:absolute;
  left:350px;
  top:683px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71954 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u71955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71955 {
  position:absolute;
  left:1070px;
  top:683px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71956 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u71957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71957 {
  position:absolute;
  left:440px;
  top:683px;
  width:80px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71958 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u71959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u71959 {
  position:absolute;
  left:1123px;
  top:334px;
  width:27px;
  height:24px;
}
#u71960 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u71961 {
  position:absolute;
  left:525px;
  top:295px;
  width:14px;
  height:14px;
}
#u71962 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u71963 {
  position:absolute;
  left:350px;
  top:212px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:right;
}
#u71964 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6699FF;
  text-align:right;
}
#u71965 {
  position:absolute;
  left:1093px;
  top:257px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#6699FF;
  text-align:right;
}
#u71966 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u71967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u71967 {
  position:absolute;
  left:411px;
  top:215px;
  width:14px;
  height:14px;
}
#u71968 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71970 {
  position:absolute;
  left:454px;
  top:212px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71971 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u71972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u71972 {
  position:absolute;
  left:543px;
  top:215px;
  width:14px;
  height:14px;
}
#u71973 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71975 {
  position:absolute;
  left:579px;
  top:212px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u71976 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u71977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u71977 {
  position:absolute;
  left:682px;
  top:215px;
  width:14px;
  height:14px;
}
#u71978 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
