body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:917px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60668 {
  position:absolute;
  left:110px;
  top:101px;
  width:1180px;
  height:917px;
}
#u60669 {
  position:absolute;
  left:2px;
  top:451px;
  width:1176px;
  word-wrap:break-word;
}
#u60670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#016493;
}
#u60671 {
  position:absolute;
  left:110px;
  top:71px;
  width:85px;
  height:20px;
  color:#016493;
}
#u60672 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u60673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u60673 {
  position:absolute;
  left:197px;
  top:71px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u60674 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u60675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u60675 {
  position:absolute;
  left:144px;
  top:119px;
  width:65px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u60676 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u60677 {
  position:absolute;
  left:594px;
  top:2306px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u60678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u60678 {
  position:absolute;
  left:289px;
  top:214px;
  width:40px;
  height:16px;
  text-align:right;
}
#u60679 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u60680 {
  position:absolute;
  left:346px;
  top:207px;
  width:200px;
  height:30px;
}
#u60680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u60681 {
  position:absolute;
  left:289px;
  top:256px;
  width:40px;
  height:16px;
  text-align:right;
}
#u60682 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u60683 {
  position:absolute;
  left:346px;
  top:256px;
  width:265px;
  height:81px;
}
#u60683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:81px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u60684 {
  position:absolute;
  left:263px;
  top:363px;
  width:66px;
  height:16px;
  text-align:right;
}
#u60685 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u60686 {
  position:absolute;
  left:360px;
  top:405px;
  width:100px;
  height:18px;
}
#u60687 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60686_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60688 {
  position:absolute;
  left:378px;
  top:433px;
  width:100px;
  height:18px;
}
#u60689 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60688_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u60690 {
  position:absolute;
  left:336px;
  top:410px;
  width:14px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u60691 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60692 {
  position:absolute;
  left:366px;
  top:426px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60692_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u60692_seg1 {
  position:absolute;
  left:-4px;
  top:10px;
  width:12px;
  height:8px;
}
#u60693 {
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60694 {
  position:absolute;
  left:396px;
  top:461px;
  width:100px;
  height:18px;
}
#u60695 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60694_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60696 {
  position:absolute;
  left:384px;
  top:454px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60696_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u60696_seg1 {
  position:absolute;
  left:-4px;
  top:10px;
  width:12px;
  height:8px;
}
#u60697 {
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u60698 {
  position:absolute;
  left:344px;
  top:435px;
  width:14px;
  height:8px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u60699 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60700 {
  position:absolute;
  left:396px;
  top:483px;
  width:100px;
  height:18px;
}
#u60701 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60700_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60702 {
  position:absolute;
  left:396px;
  top:505px;
  width:100px;
  height:18px;
}
#u60703 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60702_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60704 {
  position:absolute;
  left:396px;
  top:527px;
  width:100px;
  height:18px;
}
#u60705 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60704_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60706 {
  position:absolute;
  left:396px;
  top:551px;
  width:100px;
  height:18px;
}
#u60707 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60706_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60708 {
  position:absolute;
  left:384px;
  top:451px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60708_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u60708_seg1 {
  position:absolute;
  left:-4px;
  top:34px;
  width:13px;
  height:8px;
}
#u60709 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60710 {
  position:absolute;
  left:384px;
  top:486px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60710_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u60710_seg1 {
  position:absolute;
  left:-4px;
  top:22px;
  width:12px;
  height:8px;
}
#u60711 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60712 {
  position:absolute;
  left:384px;
  top:510px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60712_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u60712_seg1 {
  position:absolute;
  left:-4px;
  top:19px;
  width:13px;
  height:8px;
}
#u60713 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60714 {
  position:absolute;
  left:384px;
  top:529px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u60714_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u60714_seg1 {
  position:absolute;
  left:-4px;
  top:23px;
  width:14px;
  height:8px;
}
#u60715 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60716 {
  position:absolute;
  left:360px;
  top:579px;
  width:100px;
  height:18px;
}
#u60717 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u60716_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u60718 {
  position:absolute;
  left:336px;
  top:584px;
  width:14px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u60719 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60721 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:51px;
}
#u60722 {
  position:absolute;
  left:2px;
  top:18px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u60724 {
  position:absolute;
  left:1279px;
  top:13px;
  width:52px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u60725 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u60726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u60726 {
  position:absolute;
  left:1337px;
  top:21px;
  width:13px;
  height:7px;
}
#u60727 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60728 {
  position:fixed;
  left:-23px;
  bottom:0px;
}
#u60728_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u60728_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60729 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:80px;
}
#u60730 {
  position:absolute;
  left:2px;
  top:32px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60732 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(1, 100, 147, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(1, 100, 147, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u60733 {
  position:absolute;
  left:650px;
  top:20px;
  width:100px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u60734 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
