body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49705 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:51px;
}
#u49706 {
  position:absolute;
  left:2px;
  top:18px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u49708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49708 {
  position:absolute;
  left:1279px;
  top:13px;
  width:52px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u49709 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u49710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:7px;
}
#u49710 {
  position:absolute;
  left:1337px;
  top:21px;
  width:13px;
  height:7px;
}
#u49711 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:1000px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49712 {
  position:absolute;
  left:86px;
  top:100px;
  width:1260px;
  height:1000px;
}
#u49713 {
  position:absolute;
  left:2px;
  top:492px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1261px;
  height:2px;
}
#u49714 {
  position:absolute;
  left:86px;
  top:140px;
  width:1260px;
  height:1px;
}
#u49715 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:1400px;
  background:inherit;
  background-color:rgba(0, 21, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 21, 42, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u49717 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:1400px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u49718 {
  position:absolute;
  left:70px;
  top:692px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49719 {
  position:absolute;
  left:16px;
  top:95px;
  width:30px;
  height:30px;
}
#u49720 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49721 {
  position:absolute;
  left:16px;
  top:181px;
  width:30px;
  height:30px;
}
#u49722 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49723 {
  position:absolute;
  left:16px;
  top:267px;
  width:30px;
  height:30px;
}
#u49724 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49725 {
  position:absolute;
  left:16px;
  top:353px;
  width:30px;
  height:30px;
}
#u49726 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u49727 {
  position:absolute;
  left:16px;
  top:438px;
  width:24px;
  height:24px;
}
#u49728 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49729 {
  position:absolute;
  left:16px;
  top:518px;
  width:30px;
  height:30px;
}
#u49730 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u49731 {
  position:absolute;
  left:16px;
  top:603px;
  width:30px;
  height:30px;
}
#u49732 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49733_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u49733 {
  position:absolute;
  left:87px;
  top:25px;
  width:25px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u49734 {
  position:absolute;
  left:2px;
  top:-7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49735_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u49735 {
  position:absolute;
  left:95px;
  top:25px;
  width:25px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u49736 {
  position:absolute;
  left:2px;
  top:-7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49737_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:5px;
}
#u49737 {
  position:absolute;
  left:78px;
  top:25px;
  width:25px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u49738 {
  position:absolute;
  left:2px;
  top:-7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u49739 {
  position:absolute;
  left:10px;
  top:19px;
  width:40px;
  height:40px;
}
#u49740 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u49741 {
  position:absolute;
  left:86px;
  top:65px;
  width:121px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u49742 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u49743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u49743 {
  position:absolute;
  left:86px;
  top:100px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u49743_img.selected {
}
#u49743.selected {
}
#u49744 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u49745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u49745 {
  position:absolute;
  left:206px;
  top:100px;
  width:120px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u49745_img.selected {
}
#u49745.selected {
}
#u49746 {
  position:absolute;
  left:2px;
  top:11px;
  width:116px;
  word-wrap:break-word;
}
#u49747_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:123px;
  height:5px;
}
#u49747 {
  position:absolute;
  left:86px;
  top:139px;
  width:120px;
  height:2px;
}
#u49748 {
  position:absolute;
  left:2px;
  top:-7px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
