body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1791px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:851px;
}
#u1321 {
  position:absolute;
  left:75px;
  top:40px;
  width:1205px;
  height:851px;
}
#u1322 {
  position:absolute;
  left:2px;
  top:418px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1323 {
  position:absolute;
  left:1301px;
  top:40px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u1324 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u1325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1325 {
  position:absolute;
  left:1335px;
  top:40px;
  width:456px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  word-wrap:break-word;
}
